<div *ngIf="primaryDisplay">
  <h3>5 päivän sääennuste</h3>
  <ul *ngFor="let forecast of weatherData; let i = index">
    <li class="main cursor" (click)="toggle(weatherData[i], i)">
      {{forecast.dt_txt | date:'dd.MM.yyyy'}}
      <img src="assets/images/{{forecast.weather[0].icon}}.png" alt="icon" class="icon">
      <span>
        Min: {{forecast.main.temp_min | number:'1.0-0'}} °C /
        Max: {{forecast.main.temp_max | number:'1.0-0'}} °C
      </span>
      <i class="fa fa-caret-down"></i>
    </li>
  </ul>
</div>

<div *ngIf="secondaryDisplay">
  <h3>5 päivän sääennuste</h3>
  <ul class="sub cursor">
    <li *ngFor="let forecast of weatherData; let i = index" [ngClass]="{selected: selectedIndex == i}">
     <span (click)="showDetails(weatherData[i], i)">{{forecast.dt_txt | date:'dd.MM'}}</span>

    </li>
    <i class="fa fa-caret-up cursor" (click)="toggle()"></i>
  </ul>
  <div>
    <img src="assets/images/{{forecastDetails.weather[0].icon}}.png" alt="icon">
      {{forecastDetails.main.temp | number:'1.0-0'}} °C /
      Tuntuu kuin: {{forecastDetails.main.feels_like | number:'1.0-0'}} °C
  </div>
</div>
